.infographic {
    display: flex;
    padding-right: 3rem;
    padding-top: 0;

    justify-content: center;
}

.title {
    text-align: center;
    text-transform: uppercase;
    margin: 2rem;
}

.ul {
    list-style: none;
}

.ul li {
    margin: 4rem 0 4rem 0;
}

.ul li:nth-child(2n) {
    text-align: right;
}

.ul li:nth-child(2n) span {
    justify-content: flex-end;
}

.left {
    width: 10rem;
    background: var(--greenish);
    background: linear-gradient(var(--greenish) 0%, #519ec2 100%);
    padding: 2rem 0 2rem 0;

    display: flex;
    flex-direction: column;
}

.arrow {
    content: '';
    width: 100%;
    height: 100%;
    background-color: white;
    clip-path: polygon(100% 70%, 50% 100%, 0 70%, 0 50%, 50% 80%, 100% 50%);
}

.ul span {
    display: flex;
    align-items: center;
}

.ul span h3 {
    font-size: 1.5rem;
    margin-left: 1rem;
}

.greenish {
    background-color: var(--greenish);
    color: white;
}