.footer {
    padding: 0 2rem 6rem 2rem;
    border-top: 1px solid #eaeaea;
    margin-top: 6rem;
}

.footer a {
    color: #35a1d3;
}

.footer .container {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer h4 {
    margin-top: 2rem;
}

.footer .container div {
    width: 15rem;
    display: flex;
    flex-direction: column;
}

@media (min-width: 800px) {
    .footer .container {
        flex-direction: row;
    }
}