.showcaseBx {
    width: 100%;
}

.showcaseItem {
    width: 100%;
    height: 20rem;
    position: relative;
}

.showcaseItem img {
    transition: all .2s ease;
    cursor: pointer;
}

.showcaseItem:hover img {
    transform: scale(1.1);
}